.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  position: sticky;
  top: 0;
  background: #f4f4f3e3;
  z-index: 1000;
}

@media (max-width: 400px) {
  #header-products {
    display: none;
  }
}
